html,
body {
    width: 100%;
    height: 100%;
}

.header form .icon_search {
    background-position: -60px -109px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 48px;
    top: 12px;
}

.header .nav {
    width: 100%;
    height: 56px;
}

.header .nav ul {
    width: 100%;
    height: 100%;
}

.header .nav ul li {
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;
    background-color: #404042
}

.header .nav ul li .nav_home {
    background-position: -30px -27px;
}

.header .nav ul li .nav_category {
    background-position: -60px -27px;
}

.header .nav ul li .nav_cart {
    background-position: -90px -27px;
}

.header .nav ul li .nav_mine {
    background-position: -120px -27px;
}

.header .nav ul li.current {
    background-color: #2d2d2d;
}

.header .nav ul li span {
    background: url(../images/home/nav/sprites.png) no-repeat;
    background-size: 200px 200px;
    display: block;
    margin: 6px auto 0;
    width: 30px;
    height: 30px;
}

.header .nav ul li strong {
    color: #fff;
    margin-top: 0;
    display: block;
    font-weight: normal;
    font-size: 12px;
}

.category_main {
    width: 100%;
    height: 100%;
    padding-top: 44px;
}

.category_main .category_left {
    width: 90px;
    height: 100%;
    background-color: #e0e0e0;
    overflow: hidden;
    float: left;
}

.category_main .category_left ul {
    width: 100%;
}

.category_main .category_left ul li {
    width: 90px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.category_main .category_left ul li a {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 15px;
    color: #666;
}

.category_main .category_left ul li.current {
    background-color: #fff;
}

.category_main .category_left ul li.current a {
    color: #e9232c;
}

.category_right {
    display: flex;
    position: relative;
}

.category_right a {
    width: 100%;
    display: block;
    flex: 1;
}

.category_right a img {
    width: 100%;
}

.category_main .category_right .category_main_right {
    position: absolute;
    left: 0;
    top: 100%;  
    flex: 1;
    padding: 10px;
}

.category_main .category_right .category_main_right h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.category_main .category_right .category_main_right ul li {
    float: left;
}
